@model Quizzish.ViewModels.PlayerViewModel


@{
    ViewBag.Title = $"Quizzish - {Model.Player.UserName}";
}

<table class="table text-white">
    <thead>
        <tr>
            <th colspan="3">
                <h4 class="text-secondary text-uppercase mb-2 text-center">Player Information</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col" class="text-right pr-3 numbering text-uppercase">Name</th>
            <td scope="col" class="text-left">@Model.Player.UserName</td>
        </tr>
        <tr>
            <th scope="col" class="text-right pr-3 numbering text-uppercase">Points</th>
            <td scope="col" class="text-left">@Model.TotalScore</td>
        </tr>
        @if (Model.HasPlayedGames)
        {
            <tr>
                <th scope="col" class="text-right pr-3 numbering text-uppercase">Best Category</th>
                <td scope="col" class="text-left">@Html.DisplayFor(e => Model.BestCategory.Category)</td>
            </tr>
        }
        <tr>
            <th scope="col" class="text-right pr-3 numbering text-uppercase">Games Played</th>
            <td scope="col" class="text-left">@Model.PlayedGames</td>
        </tr>
    </tbody>
</table>

<div class="seperate"></div>
<a asp-controller="Challenge" asp-action="Create" asp-route-id="@Model.Player.Id" class="btn btn-secondary btn-lg text-center">Challenge</a>
<div class="seperate"></div>
<div class="seperate"></div>
<div class="seperate"></div>
<table class="table text-white">
    <thead>
        <tr>
            <th colspan="2">
                <h4 class="text-secondary text-uppercase mb-2 text-center">Player Scores</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model.PlayedScores)
        {
            <tr>
                <th class="text-right pr-3 numbering text-uppercase" scope="col">@Html.DisplayFor(e => score.Category)</th>
                <td scope="col">@score.Amount</td>
            </tr>
        }

    </tbody>
</table>

<div class="seperate"></div>
<div class="seperate"></div>
<div class="seperate"></div>

<table class="table text-white">
    <thead>
        <tr>
            <th colspan="3">
                <h4 class="text-secondary text-uppercase mb-2 text-center px-5">Most Recent Games Between Your And @Model.Player.UserName</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var challenge in Model.CommonGames)
        {
            @if (challenge.PlayerSections.All(ps => ps.Counter == 10))
            {
                <tr>
                    <td scope="col" class="tdOffset">@Html.DisplayFor(e => challenge.Category)</td>
                    <td scope="col" class="tdOffset">@challenge.Difficulty</td>
                    @{
                        var winner = Model.FindWinner(challenge);
                        winner = winner == "Tie" ? "Tie" : winner == Model.Player.UserName ? "Lose" : "Win";

                    }
                    <td scope="col" class="">
                        <a asp-controller="challenge" asp-action="results" asp-route-id="@challenge.Id" class="btn btn-secondary text-center">
                            @winner
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

